body {
    background-color: #FFDADA;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    margin-top: 50px;
    padding-bottom: 20px;
}

h2, h3 {
    color: #CC3333;
}

.btn-primary {
    background-color: #CC3333;
    border-color: #CC3333;
}

.btn-primary:hover {
    background-color: #FF6666;
    border-color: #FF6666;
}

.btn-warning {
    color: white;
    background-color: #CC3333; 
    border-color: #CC3333; 
}

.btn-warning:hover {
    background-color: #FF6666; 
    border-color: #FF6666; 
}

.btn-danger {
    background-color: #FF6666;
    border-color: #FF6666;
}

.btn-danger:hover {
    background-color: #FF9999;
    border-color: #FF9999;
}

table {
    margin-top: 20px;
}
